body {
  background-color: wheat;
}

.App-header {
  background-color: rgb(240, 240, 240, 0.8);
  min-height: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-header ul li a {
  color: black;
}

.header-navigators {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.header-navigators li {
  margin-right: 20px;
}

.header-navigators li:last-child {
  margin-right: 0;
}

.header-navigators a {
  text-decoration: none;
  color: #333;
  /* Change color as needed */
}

.header-navigators a:hover {
  text-decoration: underline;
}

.card-container {
  display: flex;
  margin: 1rem;
  padding: 1rem;
  flex-direction: column;
  align-items: center;
  align-content: center;
  width: 25%;
  height: 400px;
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 20px;
  margin: 20px;
  transition: box-shadow 0.3s ease;
  justify-content: space-between;
}

.card-container:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card-container h1 {
  font-size: 24px;
  margin-bottom: 10px;
  display: contents;
}

.card-container p {
  font-size: 16px;
  margin-bottom: 10px;
}

.card-container table {
  width: 100%;
  margin-top: 10px;
}

.card-container button {
  padding: 10px 15px;
  border: none;
  background-color: #282c34;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.card-container button:hover {
  background-color: #282c34;
}

.card-container img {
  max-width: 90%;
  max-height: 70%;
}

.card-place-holder {
  display: flex;
  flex-direction: row;
  align-content: flex-start;
  justify-content: center;
  align-items: stretch;
  justify-content: space-evenly;
  flex-wrap: wrap;

}

.button-aligner {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;


}

.button-aligner a:hover {
  /* background-color: #282c34; */
  color: rgba(13, 13, 172, 0.87);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
}

a:link {
  text-decoration: none;
}

a {
  color: black;
}