.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.header-navigators {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.header-navigators li {
  margin-right: 20px;
}

.header-navigators li:last-child {
  margin-right: 0;
}

.header-navigators a {
  text-decoration: none;
  color: #333; /* Change color as needed */
}

.header-navigators a:hover {
  text-decoration: underline;
}
